* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex; /* Apply CSS Flex to the container */
    justify-content: space-evenly; /* Justify with even spacing */
    align-items: center; /* Center the content vertically */
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none; /* Remove text decoration */
}

h1 {
    color: steelblue;
    border-bottom: 1px solid black; /* Add bottom border */
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

main {
    max-width: 840px;
    margin: 0 auto; /* Center the content on the page */
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
}

.about-me {
    clear: right;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    background-color: #f0f0f0;
    color: #333;
}

.overlay {
    position: absolute;
    top: 25px;
    left: 110px;
    padding: 5px;
    border-radius: 5px;
} 

/* Add .grid selector */
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto; /* Center the content on the page */
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr; /* Set columns, aside takes its natural width */
    gap: 20px; /* Gap between grid items */
}